{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <div class="container py-5">
        <div class="col-md-8 offset-2">

        <h1 class="mb-5">Create Your Account</h1>
        
        
        <div class="card mb-4" id="forms">
          <div class="card-header">
            <small>
            With a this account, you can save time during checkout, 
            access your shopping bag from any device and view your order history.
            </small>
          </div>
          <div class="card-body">

            {% include 'partials/_messages.html' %}

            <form method="post" action="">
              <fieldset>
                {% csrf_token %}

                {% for fm in form %}
                    <div class="form-group">
                        {{fm.label_tag}}
                        {{fm}}
                        <small class="text-danger">{{fm.errors|striptags}}</small>
                    </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">Submit</button>
              </fieldset>

              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger alert-dismissible fade show" role="alert" my-3>
                        {{error}}
                    </p>
                {% endfor %}
              {% endif %}

            </form>

            <hr>

            Already have an account? <a href="{% url 'store:login' %}">Log In </a>
            
          </div>
        </div>

        </div>       
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const form = document.querySelector("form");
          const phoneField = document.querySelector("input[name='email']");  //Select email field (which we treat as phone)
      
          if (form && phoneField) {
            form.addEventListener("submit", function (event) {
              let phone = phoneField.value.trim();
              if (!phone.includes("@")) {  
                phoneField.value = phone + "@phone.local";  //    ffAppend @phone.local before submitting
              }
            });
          }
        });
      </script>
      
{% endblock content %}