{% load static %}

<!-- navbar-->
      <!-- Start of Header -->
      <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-left">
                    <p class="welcome-msg">Welcome to Wolmart Store message or remove it!</p>
                </div>
                <div class="header-right">
                    {% comment %} <div class="dropdown">
                        <a href="#currency">USD</a>
                        <div class="dropdown-box">
                            <a href="#USD">USD</a>
                            <a href="#EUR">EUR</a>
                        </div>
                    </div> {% endcomment %}
                    <!-- End of DropDown Menu -->

                    {% comment %} <div class="dropdown">
                        <a href="#language"><img src="{% static 'asset/images/flags/eng.png' %}" alt="ENG Flag" width="14"
                                height="8" class="dropdown-image" /> ENG</a>
                        <div class="dropdown-box">
                            <a href="#ENG">
                                <img src="{% static 'asset/images/flags/eng.png' %}" alt="ENG Flag" width="14" height="8"
                                    class="dropdown-image" />
                                ENG
                            </a>
                            <a href="#FRA">
                                <img src="{% static 'asset/images/flags/fra.png' %}" alt="FRA Flag" width="14" height="8"
                                    class="dropdown-image" />
                                FRA
                            </a>
                        </div>
                    </div> {% endcomment %}
                    <!-- End of Dropdown Menu -->
                    <span class="divider d-lg-show"></span>
                    {% comment %} <a href="blog.html" class="d-lg-show">Blog</a> {% endcomment %}
                    <a href="{% url 'store:contact' %}" class="d-lg-show">Contact Us</a>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'store:profile' %}" class="d-lg-show">My Account</a>
                    {% else %}
                    <a href="{% url 'store:login' %}" class="d-lg-show login sign-in"><i
                            class="w-icon-account"></i>Login</a>
                    <span class="delimiter d-lg-show">/</span>
                    <a href="{% url 'store:register' %}" class="ml-0 d-lg-show login register">Register</a>
                    {% endif %} 
                </div>
            </div>
        </div>
        <!-- End of Header Top -->

        <div class="header-middle">
            <div class="container">
                <div class="header-left mr-md-4">
                    <a href="#" class="mobile-menu-toggle  w-icon-hamburger" aria-label="menu-toggle">
                    </a>
                    <a href="{% url 'store:home' %}" class="logo ml-lg-0">
                        <img src="{% static 'asset/images/logo.png' %}" alt="logo" width="144" height="45" />
                    </a>
                    <form action="{% url 'store:search' %}" method="GET" class="header-search hs-expanded hs-round d-none d-md-flex input-wrapper">
                        <div class="select-box">
                            <select id="category" name="category">
                                <option value="">All Categories</option>
                                <option value="4">Fashion</option>
                                <option value="5">Furniture</option>
                                <option value="6">Shoes</option>
                                <option value="7">Sports</option>
                                <option value="8">Games</option>
                                <option value="9">Computers</option>
                                <option value="10">Electronics</option>
                                <option value="11">Kitchen</option>
                                <option value="12">Clothing</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" name="q" id="search"
                            placeholder="Search in..." required />
                        <button class="btn btn-search" type="submit"><i class="w-icon-search"></i>
                        </button>
                    </form>
                </div>
                <div class="header-right ml-4">
                    <div class="header-call d-xs-show d-lg-flex align-items-center">
                        <a href="tel:#" class="w-icon-call"></a>
                        <div class="call-info d-lg-show">
                            <h4 class="chat font-weight-normal font-size-md text-normal ls-normal text-light mb-0">
                                <a href="mailto:#" class="text-capitalize">Live Chat</a> or :</h4>
                            <a href="tel:#" class="phone-number font-weight-bolder ls-50">0(800)123-456</a>
                        </div>
                    </div>
                    
                    <div class="dropdown cart-dropdown cart-offcanvas mr-0 mr-lg-2">
                        <div class="cart-overlay"></div>
                        <a href="{% url 'store:cart' %}" class="cart-toggle label-down link">
                            <i class="w-icon-cart">
                                <span class="cart-count">{{cart_items.count}}</span>
                            </i>
                            <span class="cart-label">Cart</span>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Header Middle -->

        <div class="header-bottom sticky-content fix-top sticky-header">
            <div class="container">
                <div class="inner-wrap">
                    <div class="header-left">
                        <div class="dropdown category-dropdown has-border" data-visible="true">
                            <a href="#" class="category-toggle" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true" data-display="static"
                                title="Browse Categories">
                                <i class="w-icon-category"></i>
                                <span>Browse Categories</span>
                            </a>

                            <div class="dropdown-box">
                                <ul class="menu vertical-menu category-menu">
                                    {% if categories_menu %}
                                    {% for cat_menu in categories_menu %}
                                    <li>
                                        <a href="{% url 'store:category-products' cat_menu.slug %}">
                                            </i><b>{{cat_menu.title}}</b>
                                        </a>
                                    </li>
                                    
                                    {% endfor %}
                                    {% endif %}
                                    <li>
                                        <a href="{% url 'store:all-categories' %}"
                                            class="font-weight-bold text-primary text-uppercase ls-25">
                                            View All Categories<i class="w-icon-angle-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <nav class="main-nav">
                            <ul class="menu active-underline">
                                <li>
                                    <a href="{% url 'store:home' %}">Home</a>
                                </li>
                                <li>
                                    <a href="{% url 'store:all-categories' %}">All categories</a>
                                </li>
                                <li>
                                    <a href="{% url 'store:all-brands' %}">Brands</a>
                                </li>
                                <li>
                                    <a href="{% url 'store:about' %}">About us</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header-right">
                        <a href="#"><i class="w-icon-sale"></i>Daily Deals</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End of Header -->

