{% load static %}

    <script src="{% static 'asset/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'asset/vendor/jquery.plugin/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'asset/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'asset/vendor/zoom/jquery.zoom.js' %}"></script>
    <script src="{% static 'asset/vendor/jquery.countdown/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'asset/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'asset/vendor/skrollr/skrollr.min.js' %}"></script>

    <!-- Swiper JS -->
    <script src="{% static 'asset/vendor/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'asset/js/main.min.js' %}"></script>