{% load static %}

<!-- JavaScript files-->
      {% comment %} <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'vendor/lightbox2/js/lightbox.min.js' %}"></script>
      <script src="{% static 'vendor/nouislider/nouislider.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
      <script src="{% static 'vendor/owl.carousel2/owl.carousel.min.js' %}"></script>
      <script src="{% static 'vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js' %}"></script>
      <script src="{% static 'js/front.js' %}"></script>

      <script>
        var range = document.getElementById('range');
        noUiSlider.create(range, {
            range: {
                'min': 0,
                'max': 2000
            },
            step: 5,
            start: [100, 1000],
            margin: 300,
            connect: true,
            direction: 'ltr',
            orientation: 'horizontal',
            behaviour: 'tap-drag',
            tooltips: true,
            format: {
              to: function ( value ) {
                return '$' + value;
              },
              from: function ( value ) {
                return value.replace('', '');
              }
            }
        });
        
      </script>

      
      <script>
        // ------------------------------------------------------- //
        //   Inject SVG Sprite - 
        //   see more here 
        //   https://css-tricks.com/ajaxing-svg-sprite/
        // ------------------------------------------------------ //
        function injectSvgSprite(path) {
        
            var ajax = new XMLHttpRequest();
            ajax.open("GET", path, true);
            ajax.send();
            ajax.onload = function(e) {
            var div = document.createElement("div");
            div.className = 'd-none';
            div.innerHTML = ajax.responseText;
            document.body.insertBefore(div, document.body.childNodes[0]);
            }
        }
        // this is set to BootstrapTemple website as you cannot 
        // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
        // while using file:// protocol
        // pls don't forget to change to your domain :)
        injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
        
      </script>
      <script>
        $(document).ready(function (){
          $(".filter-checkbox, #price-filter-btn").on("click", function(){
              console.log("A check box has been clicked");
      
              let filter_object = {}
      
              let min_price = $("#max_price").attr("min")
              let max_price = $("#max_price").val()
      
              filter_object.min_price = min_price;
              filter_object.max_price = max_price;
      
              $(".filter-checkbox").each(function(){
                  let filter_value = $(this).val()
                  let filter_key = $(this).data("filter")
      
                  //console.log("Filter value is:", filter_value);
                  //console.log("Filter key is:", filter_key);
      
                  filter_object[filter_key] = Array.from(document.querySelectorAll('input[data-filter=' + filter_key + ']:checked')).map(function(element){
                      return element.value
                  })
              })
              console.log("Filter object is: ", filter_object);
              $.ajax({
                  url: '/filter-products',
                  data: filter_object,
                  dataType: 'json',
                  beforeSend: function(){
                      console.log("Trying to filter product...");
                  },
                  success: function(response){
                      console.log(response);
                      console.log("Data filtered successfully...");
                      $("#filtered-product").html(response.data)
                  }
              })
          })
      
          $("#max_price").on("blur", function(){
              let min_price = $(this).attr("min")
              let max_price = $(this).attr("max")
              let current_price = $(this).val()
      
              //console.log("Current price is:", current_price);
              //console.log("Max price is:", max_price);
              //console.log("Min price is:", min_price);
      
              if(current_price < parseInt(min_price) || current_price > parseInt(max_price)){
                  console.log("Price error occured");
      
                  min_price = Math.round(min_price * 100) / 100
                  max_price = Math.round(max_price * 100) / 100
      
                  //console.log("Max price is:", max_price);
                  //console.log("Min price is:", min_price);
      
                  alert("Price must between ETB" +min_price + ' and ETB' +max_price)
                  $(this).val(min_price)
                  $('#range').val(min_price)
      
                  $(this).focus()
      
                  return false
              }
          })
        })
      </script> {% endcomment %}
    <script src="{% static 'asset/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'asset/vendor/sticky/sticky.js' %}"></script>
    <script src="{% static 'asset/vendor/jquery.plugin/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'asset/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'asset/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'asset/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'asset/vendor/zoom/jquery.zoom.js' %}"></script>
    <script src="{% static 'asset/vendor/photoswipe/photoswipe.js' %}"></script>
    <script src="{% static 'asset/vendor/photoswipe/photoswipe-ui-default.js' %}"></script>
    <script src="{% static 'asset/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'asset/vendor/jquery.countdown/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'asset/vendor/skrollr/skrollr.min.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'asset/js/main.min.js' %}"></script>
      <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </div>
  </body>
</html>