{% load static %}
{% load image_optim %}

<article class="spring-collection-card">
    <a href="{{ href }}">
        <div class="spring-collection-card__media">
            {% if image_file %}
            <img loading="lazy" src="{{ image_file.url|cdn_optimize }}" alt="{{ title }}">
            {% else %}
            <img loading="lazy" src="{% static 'asset/images/default-product.webp' %}" alt="{{ title }}">
            {% endif %}
        </div>
        <div class="spring-collection-card__body">
            <h3>{{ title }}</h3>
        </div>
    </a>
</article>
